* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vh;
  margin: 0 auto;
}

.next > i, .prev > i {
  font-size: 45px;
  padding: 0 20px;
}

.dot > i {
  font-size: 30px;
  padding: 10px 5px;
  color: gray;
}

.container .dot i.attiva {
  color: blue;
}
